filter-list.txt
**/.dropbox.attr
**/*~
**/~*.tmp
**/~$*
**/.~*
**/desktop.ini
**/.dropbox
**/.trash/*
**/scripts/*
**/.obsidian/*
**/.nfs*
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/node_modules/
**/npm-debug.log
**/*.pyc
**/__pycache__/
**/venv/
**/.temp